<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="org.testng.reporters.JUnitXMLReporter"/>
    </listeners>

    <test name="aboutPageTestsBuild">
        <classes>
            <class name="aboutPageTests" />
        </classes>
    </test>

    <test name="mainPageEnglishTestsBuild">
        <classes>
            <class name="mainPageEnglishTests" />
        </classes>
    </test>

    <test name="mainPageTestsBuild">
        <classes>
            <class name="mainPageTests" />
        </classes>
    </test>
</suite>